<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Description</key>
	<string>Searches the web using &lt;uktv.co.uk/food&gt;.</string>
	<key>EngineUrl</key>
	<string>http://uktv.co.uk/food/search/q/_agentQuery_/sr/_agentOffset_</string>
	<key>FilterSimilarPages</key>
	<false/>
	<key>Identifier</key>
	<string>com.colinfallon.devonagent.uktvfood.plugin</string>
	<key>Info</key>
	<string>Good Food Channel Plugin</string>
	<key>LinksEnd</key>
	<string>Displaying</string>
	<key>LinksMatching</key>
	<array>
		<string>*uktv.co.uk/food/recipe/aid/*</string>
	</array>
	<key>LinksStart</key>
	<string>homePageContent</string>
	<key>Name</key>
	<string>Good Food Channel</string>
	<key>OffsetPerPage</key>
	<integer>10</integer>
	<key>Operators</key>
	<integer>17</integer>
	<key>ParseLinks</key>
	<true/>
	<key>ResultsPerPage</key>
	<integer>10</integer>
	<key>Start</key>
	<integer>1</integer>
	<key>TextEnd</key>
	<array>
		<string>#conversion-calculator</string>
		<string>comments-ratings</string>
	</array>
	<key>TextStart</key>
	<array>
		<string>Ingredients</string>
		<string>Method</string>
	</array>
	<key>Version</key>
	<string>1.0</string>
</dict>
</plist>
