<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Description</key>
	<string>Searches the web using &lt;www.bbcgoodfood.com&gt;.</string>
	<key>EngineUrl</key>
	<string>http://www.bbcgoodfood.com/search.do?keywords=_agentQuery_&amp;pager.offset=_agentOffset_</string>
	<key>FilterSimilarPages</key>
	<false/>
	<key>Identifier</key>
	<string>com.colinfallon.devonagent.bbcgoodfood.plugin</string>
	<key>Info</key>
	<string>BBC Good Food Plugin</string>
	<key>LinksMatching</key>
	<array>
		<string>*www.bbcgoodfood.com/recipes/*</string>
	</array>
	<key>Name</key>
	<string>BBC Good Food Magazine</string>
	<key>OffsetPerPage</key>
	<integer>10</integer>
	<key>Operators</key>
	<integer>1</integer>
	<key>ParseLinks</key>
	<true/>
	<key>ResultsPerPage</key>
	<integer>10</integer>
	<key>Start</key>
	<integer>0</integer>
	<key>Version</key>
	<string>1.0</string>
</dict>
</plist>
